# Table of Contents --> TBU

1. [Merging datasets](#1-bullet) <br>
    I - [Customers and orders](#2-bullet) <br>
    II - [Data and order_items](#3-bullet) <br>
    III - [Data and order_reviews](#4-bullet) <br>
    IV - [Data and order_payments](#5-bullet) <br>
    V - [Translation of products categories](#6-bullet) <br>
    VI - [Data and products](#7-bullet) <br>
    VII - [Data and sellers](#8-bullet) <br>
    <br>
    
2. [Cleaning](#9-bullet) <br>
    I - [Types](#10-bullet) <br>
    II - [Outliers](#11-bullet) <br>
    III - [Missing values](#12-bullet) <br>
    <br>

3. [Transformation of dataframe](#13-bullet) <br>
    I - [xx](#xx-bullet) <br>
    II - [xx](#xx-bullet) <br>
    III - [xx](#xx-bullet) <br>
    <br>
    
4. [xx](#xx-bullet) <br>
    I - [xx](#xx-bullet) <br>
    II - [xx](#xx-bullet) <br>
    III - [xx](#xx-bullet) <br>
    <br>

In [100]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# from functions import *

In [101]:
# Loading datas

customers = pd.read_csv('olist_customers_dataset.csv', sep=',')
geolocation = pd.read_csv('olist_geolocation_dataset.csv', sep=',')
order_items = pd.read_csv('olist_order_items_dataset.csv', sep=',')
order_payments = pd.read_csv('olist_order_payments_dataset.csv', sep=',')
order_reviews = pd.read_csv('olist_order_reviews_dataset.csv', sep=',')
orders = pd.read_csv('olist_orders_dataset.csv', sep=',')
products = pd.read_csv('olist_products_dataset.csv', sep=',')
sellers = pd.read_csv('olist_sellers_dataset.csv', sep=',')
product_category_name_translation = pd.read_csv('product_category_name_translation.csv', sep=',')

In [102]:
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_row', 50)

# 1. Merging datasets <a class="anchor" id="1-bullet"></a>

We will try to extract all relevant information on customers on one unique dataset

## I - Customers and orders <a class="anchor" id="2-bullet"></a>

In [103]:
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [104]:
customers.shape

(99441, 5)

### a. Adding latitude and longitude with geolocation

In [105]:
geolocation.shape

(1000163, 5)

In [106]:
len(geolocation['geolocation_zip_code_prefix'].unique())

19015

In [107]:
geolocation[geolocation.duplicated(subset='geolocation_zip_code_prefix')]

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
2,1046,-23.546129,-46.642951,sao paulo,SP
10,1013,-23.547325,-46.634184,sao paulo,SP
13,1012,-23.548946,-46.634671,sao paulo,SP
14,1037,-23.545187,-46.637855,são paulo,SP
15,1046,-23.546081,-46.644820,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [108]:
# We have several rows for each zip code with more or less the same coordinates, 
# we will create a simplified df with only one row per zip code with the mean value

simplified_geolocation = pd.DataFrame()

simplified_geolocation['geolocation_lat'] = geolocation.groupby(by='geolocation_zip_code_prefix')['geolocation_lat'].mean()
simplified_geolocation['geolocation_lng'] = geolocation.groupby(by='geolocation_zip_code_prefix')['geolocation_lng'].mean()
simplified_geolocation['geolocation_zip_code_prefix'] = simplified_geolocation.index

simplified_geolocation.head()

,geolocation_lat,geolocation_lng,geolocation_zip_code_prefix
geolocation_zip_code_prefix,,,
1001,-23.550190,-46.634024,1001
1002,-23.548146,-46.634979,1002
1003,-23.548994,-46.635731,1003
1004,-23.549799,-46.634757,1004
1005,-23.549456,-46.636733,1005

In [109]:
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [110]:
customers.shape

(99441, 5)

In [111]:
# Looking if every zip code is in simplified_geolocation
set(list(customers['customer_zip_code_prefix'].unique())) - set(simplified_geolocation['geolocation_zip_code_prefix'].unique())

{2140,
 6930,
 7412,
 7430,
 7729,
 7784,
 8342,
 8980,
 11547,
 12332,
 12770,
 13307,
 17390,
 19740,
 25840,
 25919,
 27980,
 28120,
 28160,
 28388,
 28530,
 28575,
 28617,
 28655,
 29196,
 29718,
 29949,
 35104,
 35242,
 35408,
 36248,
 36596,
 36857,
 36956,
 37005,
 38627,
 38710,
 39103,
 41098,
 41347,
 42716,
 42843,
 43870,
 44135,
 48504,
 49870,
 55027,
 55863,
 56327,
 56485,
 57254,
 58286,
 58734,
 59299,
 59547,
 61906,
 62625,
 62898,
 64047,
 64095,
 64605,
 65137,
 65830,
 67105,
 68511,
 68629,
 70316,
 70324,
 70333,
 70686,
 70701,
 70702,
 70716,
 71208,
 71261,
 71539,
 71551,
 71574,
 71590,
 71591,
 71593,
 71676,
 71698,
 71810,
 71884,
 71905,
 71919,
 71953,
 71971,
 71975,
 71976,
 71993,
 71995,
 71996,
 72002,
 72005,
 72017,
 72023,
 72237,
 72238,
 72242,
 72243,
 72268,
 72280,
 72300,
 72338,
 72341,
 72427,
 72440,
 72455,
 72457,
 72465,
 72535,
 72536,
 72549,
 72583,
 72587,
 72595,
 72596,
 72760,
 72821,
 72863,
 72867,
 72904,
 73081,
 73082,
 73088,
 73090,
 73091,
 73093,
 73255,
 73272,
 73310,
 73369,
 73391,
 73401,
 73402,
 75257,
 75784,
 76897,
 76968,
 77404,
 78554,
 83210,
 83843,
 84623,
 85118,
 85894,
 85958,
 86135,
 86996,
 87323,
 87511,
 93602,
 94370,
 95572,
 95853}

In [112]:
lat_list = []
long_list = []

for zip_code in customers['customer_zip_code_prefix']:
    
    if zip_code in simplified_geolocation['geolocation_zip_code_prefix'].unique():
        
        latitude = simplified_geolocation[simplified_geolocation['geolocation_zip_code_prefix'] == zip_code]['geolocation_lat'].values[0]
        lat_list.append(latitude)
        
        longitude = simplified_geolocation[simplified_geolocation['geolocation_zip_code_prefix'] == zip_code]['geolocation_lng'].values[0]
        long_list.append(longitude)
    
    else: # For our values not in simplified_geolocation, we don't have coordinates
        lat_list.append(np.nan)
        long_list.append(np.nan)

In [113]:
# Checking lenght = customers # rows
print(len(lat_list))
print(len(long_list))

99441
99441

In [114]:
# We can add these coordinates to our sellers df

customers['customer_geolocation_lat'] = lat_list
customers['customer_geolocation_lng'] = long_list

### b. Merging dataframes

In [115]:
customers.isna().sum().sum()

556

In [116]:
# Looking duplicates
customers[customers.duplicated(subset='customer_unique_id')]

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_geolocation_lat,customer_geolocation_lng
679,c57b4b6f3719475543b721e720a526ad,b6c083700ca8c135ba9f0f132930d4e8,8686,suzano,SP,-23.534686,-46.287395
1463,9f6f3da49e2d46e3a7529f5e3c25ecce,a40096fc0a3862e9e12bc55b5f8e6ab2,20561,rio de janeiro,RJ,-22.923671,-43.279511
1607,299f7b5125c8fbe1761a1b320c34fc7d,b8b3c435a58aebd788a477bed8342910,95585,arroio do sal,RS,-29.540942,-49.885267
2811,226d59f9f4b98e228b689eea45d03a6d,66980c3775537536f77b434d74e520f5,30290,belo horizonte,MG,-19.919022,-43.883152
3198,b1253701171dfb298f52a221f824e45b,788313d21c3507fe890921f6e17aa679,11070,santos,SP,-23.956748,-46.345272
...,...,...,...,...,...,...,...
99324,5b46a0d983eec8c97363bea78d4a69dd,8bab3162259edfaadd1ea2e1fe7f58dc,31565,belo horizonte,MG,-19.833900,-43.966790
99327,c1affa46f9f3b514555259049a0307b9,12ab9334b1240d6d037f2b0102a49571,38050,uberaba,MG,-19.758313,-47.955525
99336,ebf46ff530343a129926adc1f831dea4,0ee57f62666561b72f2ceacad0230cbf,9530,sao caetano do sul,SP,-23.621543,-46.575103
99353,282fbce48e4d2077aad602dd125c9225,0ceb502fc33a2ad327b08288c5310e2e,29134,viana,ES,-20.355163,-40.431232
99406,d9110683c7a282144e9fc97660026a28,5cbfdb85ec130898108b32c50d619c39,74980,aparecida de goiania,GO,-16.822735,-49.248175

We have 3 345 customers which did 2 or more orders on Olist

In [117]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [118]:
orders.shape

(99441, 8)

In [119]:
orders.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [120]:
# We check if we have identical customer_id in df customers and df order

id_1 = list(customers['customer_id'].sort_values())
id_2 = list(orders['customer_id'].sort_values())

id_1 == id_2

True

In [121]:
data = pd.merge(customers, orders, on=['customer_id'], how='outer')
data.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_geolocation_lat,customer_geolocation_lng,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.498489,-47.396929,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,-23.727992,-46.542848,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,-23.531642,-46.656289,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,-23.499702,-46.185233,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-22.975100,-47.142925,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00

In [122]:
data.isna().sum()

customer_id                         0
customer_unique_id                  0
customer_zip_code_prefix            0
customer_city                       0
customer_state                      0
customer_geolocation_lat          278
customer_geolocation_lng          278
order_id                            0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [123]:
data.shape

(99441, 14)

## II - Data and order_items <a class="anchor" id="3-bullet"></a>

### a. Checking order_items coherence

In [124]:
order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [125]:
order_items.shape

(112650, 7)

In [126]:
order_items.isna().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [127]:
# Looking duplicates
order_items[order_items.duplicated(subset='order_id')]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
14,0008288aa423d2a3f00fcb17cd7d8719,2,368c6c730842d78016ad823897a372db,1f50f920176fa81dab994f9023523100,2018-02-21 02:55:52,49.90,13.37
33,00143d0f86d6fbd9f9b38ab440ac16f5,2,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.10
34,00143d0f86d6fbd9f9b38ab440ac16f5,3,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.10
43,001ab0a7578dd66cd4b0a71f5b6e1e41,2,0b0172eb0fd18479d29c3bc122c058c2,5656537e588803a555b8eb41f07a944b,2018-01-04 02:33:42,24.89,17.63
44,001ab0a7578dd66cd4b0a71f5b6e1e41,3,0b0172eb0fd18479d29c3bc122c058c2,5656537e588803a555b8eb41f07a944b,2018-01-04 02:33:42,24.89,17.63
...,...,...,...,...,...,...,...
112617,ffecd5a79a0084f6a592288c67e3c298,3,50fd2b788dc166edd20512370dac54df,8b321bb669392f5163d04c59e235e066,2018-03-05 20:15:27,21.90,15.79
112635,fff8287bbae429a99bb7e8c21d151c41,2,bee2e070c39f3dd2f6883a17a5f0da45,4e922959ae960d389249c378d1c939f5,2018-03-27 12:29:22,180.00,48.14
112641,fffb9224b6fc7c43ebb0904318b10b5f,2,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19
112642,fffb9224b6fc7c43ebb0904318b10b5f,3,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19
112643,fffb9224b6fc7c43ebb0904318b10b5f,4,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19

In [128]:
order_items[order_items['order_id'] == 'fffb9224b6fc7c43ebb0904318b10b5f']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
112640,fffb9224b6fc7c43ebb0904318b10b5f,1,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.0,34.19
112641,fffb9224b6fc7c43ebb0904318b10b5f,2,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.0,34.19
112642,fffb9224b6fc7c43ebb0904318b10b5f,3,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.0,34.19
112643,fffb9224b6fc7c43ebb0904318b10b5f,4,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.0,34.19

In [129]:
# One order can have several items, let's check it
order_items.loc[order_items['order_item_id'] > 1]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
14,0008288aa423d2a3f00fcb17cd7d8719,2,368c6c730842d78016ad823897a372db,1f50f920176fa81dab994f9023523100,2018-02-21 02:55:52,49.90,13.37
33,00143d0f86d6fbd9f9b38ab440ac16f5,2,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.10
34,00143d0f86d6fbd9f9b38ab440ac16f5,3,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.10
43,001ab0a7578dd66cd4b0a71f5b6e1e41,2,0b0172eb0fd18479d29c3bc122c058c2,5656537e588803a555b8eb41f07a944b,2018-01-04 02:33:42,24.89,17.63
44,001ab0a7578dd66cd4b0a71f5b6e1e41,3,0b0172eb0fd18479d29c3bc122c058c2,5656537e588803a555b8eb41f07a944b,2018-01-04 02:33:42,24.89,17.63
...,...,...,...,...,...,...,...
112617,ffecd5a79a0084f6a592288c67e3c298,3,50fd2b788dc166edd20512370dac54df,8b321bb669392f5163d04c59e235e066,2018-03-05 20:15:27,21.90,15.79
112635,fff8287bbae429a99bb7e8c21d151c41,2,bee2e070c39f3dd2f6883a17a5f0da45,4e922959ae960d389249c378d1c939f5,2018-03-27 12:29:22,180.00,48.14
112641,fffb9224b6fc7c43ebb0904318b10b5f,2,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19
112642,fffb9224b6fc7c43ebb0904318b10b5f,3,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19
112643,fffb9224b6fc7c43ebb0904318b10b5f,4,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19

In [130]:
# We should have the same number of orders than products after eliminating rows concerning order_item_id > 1
data.shape[0] - order_items.loc[order_items['order_item_id'] == 1].shape[0]

775

In [131]:
# Let's try to see wich orders doesn't have a product associated

# Creating to lists with unique order_id of df order_items and data
items_unique = list(order_items.loc[order_items['order_item_id'] == 1]['order_id'])
total_orders = list(data['order_id'])

diff = set(total_orders) - set(items_unique) # Creation of list with order_id in data and not in order_items
len(diff) # Checking it corresponds to the deference above

775

In [132]:
data[data['order_id'].isin(diff)]

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_geolocation_lat,customer_geolocation_lng,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
46,f34a6e874087ec1f0e3dab9fdf659c5d,233896de79986082f1f479f1f85281cb,38300,ituiutaba,MG,-18.976355,-49.462975,6e98de3a85c84ead6689189b825d35b5,canceled,2018-03-15 10:07:02,2018-03-15 10:29:33,NaN,NaN,2018-04-09 00:00:00
288,5bfe800011656c0afb81db64519982db,0071f46a072a9ae25bbe4438b15efe9c,16011,aracatuba,SP,-21.206640,-50.424428,df8c077268f7f3baaac0892eb3143642,unavailable,2017-02-01 00:04:17,2017-02-01 00:30:55,NaN,NaN,2017-03-10 00:00:00
373,b08064e24083fee8fbe8797902b07ecd,035f60af6e7d7f78470e9443be08d339,28495,aperibe,RJ,-21.625830,-42.104891,c609f82bcf7a90292a5940205ebd7e93,unavailable,2018-05-13 16:45:55,2018-05-13 17:11:58,NaN,NaN,2018-06-05 00:00:00
383,536f46cc0f2f2b1e40d056f7998f0254,340152332a04149987a705602615f0d0,87030,maringa,PR,-23.413770,-51.927070,cb4a79c1e6c9ae44302861e7602cc449,unavailable,2017-12-06 15:46:07,2017-12-06 15:57:29,NaN,NaN,2018-01-03 00:00:00
556,8118922685d2e2c0205f060be4f2579c,d0e87d00021530383c16452a39a393ba,45810,porto seguro,BA,-16.432027,-39.075629,af264f3527e94e431f0dcd56cd6b406d,unavailable,2017-07-12 14:49:11,2017-07-12 15:04:10,NaN,NaN,2017-08-11 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98267,7353b0fb8e8d9675e3a704c60ca44ebe,21c933c8dd97d088e64c50988c90ccf5,5017,sao paulo,SP,-23.537114,-46.679678,2f634e2cebf8c0283e7ef0989f77d217,unavailable,2017-09-27 20:55:33,2017-09-28 01:32:50,NaN,NaN,2017-10-27 00:00:00
98319,5effe9491d0f5a1c12ee4a384ec09bdf,e9429d622d9e764ca60ba01bc252b0a8,8690,suzano,SP,-23.498099,-46.315956,2b0edc4c59d83dcef85466718c36a317,unavailable,2017-09-29 19:17:10,2017-09-29 20:00:07,NaN,NaN,2017-10-17 00:00:00
98551,75c6e03e7206bd1dd59f427c9f75142a,ff36be26206fffe1eb37afd54c70e18b,13057,campinas,SP,-22.972177,-47.164119,81b7c7bbc8ec003eeb67d87441a6a148,canceled,2018-08-20 09:03:23,NaN,NaN,NaN,2018-09-03 00:00:00
98642,1761db2f0d235bbfa1c281093198af0c,21c2c79d24e2d8e3496aabb1f65d85c6,20270,rio de janeiro,RJ,-22.916245,-43.217950,8b08f0e729f58529ed03e763270f78d5,unavailable,2017-08-24 21:02:47,2017-08-24 21:15:36,NaN,NaN,2017-09-27 00:00:00
99105,882b44646ab3f186597b1622a9443ff9,639b4096a4e5c96549a9bb495ca4871e,13972,itapira,SP,-22.432933,-46.814362,9b932dca249f9971b86dde2f2d7ad412,unavailable,2017-11-20 17:08:43,2017-11-20 17:26:54,NaN,NaN,2017-12-07 00:00:00

It doesn't seem to have an explanation for these missing values, we will merge dataframes keeping in mind that we will have some NaN values

### b. Transforming order_items to avoid duplicates

In [133]:
order_items[order_items.duplicated(subset='order_id')].sort_values(by='order_id')

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
14,0008288aa423d2a3f00fcb17cd7d8719,2,368c6c730842d78016ad823897a372db,1f50f920176fa81dab994f9023523100,2018-02-21 02:55:52,49.90,13.37
33,00143d0f86d6fbd9f9b38ab440ac16f5,2,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.10
34,00143d0f86d6fbd9f9b38ab440ac16f5,3,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.10
43,001ab0a7578dd66cd4b0a71f5b6e1e41,2,0b0172eb0fd18479d29c3bc122c058c2,5656537e588803a555b8eb41f07a944b,2018-01-04 02:33:42,24.89,17.63
44,001ab0a7578dd66cd4b0a71f5b6e1e41,3,0b0172eb0fd18479d29c3bc122c058c2,5656537e588803a555b8eb41f07a944b,2018-01-04 02:33:42,24.89,17.63
...,...,...,...,...,...,...,...
112616,ffecd5a79a0084f6a592288c67e3c298,2,50fd2b788dc166edd20512370dac54df,8b321bb669392f5163d04c59e235e066,2018-03-05 20:15:27,21.90,15.79
112635,fff8287bbae429a99bb7e8c21d151c41,2,bee2e070c39f3dd2f6883a17a5f0da45,4e922959ae960d389249c378d1c939f5,2018-03-27 12:29:22,180.00,48.14
112642,fffb9224b6fc7c43ebb0904318b10b5f,3,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19
112641,fffb9224b6fc7c43ebb0904318b10b5f,2,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19
112643,fffb9224b6fc7c43ebb0904318b10b5f,4,43423cdffde7fda63d0414ed38c11a73,b1fc4f64df5a0e8b6913ab38803c57a9,2017-11-03 02:55:58,55.00,34.19

We can observe that the only difference between duplicates is order_item_id.
We won't create useless rows in our merged dataframe, we will keep only one row per order and we will modify order_item_id with order_nb_items

In [134]:
# We create a loop to get the number of items per order

nb_items = []

for order in list(order_items['order_id'].unique()):
    nb_items.append(max(order_items[order_items['order_id'] == order]['order_item_id']))

In [135]:
# Checking sizes

print(len(nb_items))
print(len(order_items['order_id'].unique()))

98666
98666

In [136]:
# We can now drop duplicates, add our new variable and delete the old one

order_items.drop_duplicates(subset='order_id', inplace=True)
order_items['order_nb_items'] = nb_items
del order_items['order_item_id']

In [137]:
order_items.head()

,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,order_nb_items
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,1
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,1
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,1
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,1
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,1

### c. Merging dataframes

In [138]:
data = pd.merge(data, order_items, on=['order_id'], how='outer')
data.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_geolocation_lat,customer_geolocation_lng,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,product_id,seller_id,shipping_limit_date,price,freight_value,order_nb_items
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.498489,-47.396929,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,1.0
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,-23.727992,-46.542848,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48,1.0
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,-23.531642,-46.656289,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79,1.0
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,-23.499702,-46.185233,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36,1.0
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-22.975100,-47.142925,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25,1.0

In [139]:
data.isna().sum()

customer_id                         0
customer_unique_id                  0
customer_zip_code_prefix            0
customer_city                       0
customer_state                      0
customer_geolocation_lat          278
customer_geolocation_lng          278
order_id                            0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
product_id                        775
seller_id                         775
shipping_limit_date               775
price                             775
freight_value                     775
order_nb_items                    775
dtype: int64

In [140]:
data.shape

(99441, 20)

## III - Data and order_reviews <a class="anchor" id="4-bullet"></a>

In [141]:
order_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [142]:
order_reviews.shape

(99224, 7)

In [143]:
order_reviews.isna().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [144]:
orders.shape

(99441, 8)

Should be the same number of rows

In [145]:
# Looking duplicates
order_reviews[order_reviews.duplicated(subset='order_id')]

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
1119,46abf3ea0b2710ad41390fdb79c32d84,5040757d4e06a4be96d3827b860b4e7c,5,NaN,NaN,2017-11-07 00:00:00,2017-11-10 20:07:48
3109,aa193e76d35950c4ae988237bb36ed2b,cf73e2cb1f4a9480ed70c154da3d954a,5,NaN,NaN,2018-01-18 00:00:00,2018-01-18 17:36:45
8108,40294ea5a778dc62080d6b3f55d361ce,e1bc1083cd7acd30d0576335373b907d,5,NaN,NaN,2018-03-23 00:00:00,2018-03-24 00:23:06
9064,32e2c7e889f7a185d462265398ee3631,c7cfea0c153e6382e32e84c2a9dd7d2e,5,NaN,NaN,2017-10-21 00:00:00,2017-10-22 00:47:25
9795,95a3135743556b117d888cc8c6e12e11,f9c78e6e58306dc81efbbada1ac11f24,3,NaN,O produto chegou antes do prazo mas recebi um ...,2017-09-14 00:00:00,2017-09-17 11:14:08
...,...,...,...,...,...,...,...
98989,dfb3db02188d809d5cd199496b6da87e,c0db7d31ace61fc360a3eaa34dd3457c,5,NaN,NaN,2018-02-17 00:00:00,2018-02-19 19:29:19
99108,2c6c08892b83ba4c1be33037c2842294,42ae1967f68c90bb325783ac55d761ce,4,NaN,"Chegou um pouco amassada, mas nada de mais, e ...",2017-07-03 00:00:00,2017-07-05 19:06:59
99164,2afe63a67dfd99b3038f568fb47ee761,c5334d330e36d2a810a7a13c72e135ee,5,NaN,"Muito bom, produto conforme anunciado, entrega...",2018-03-03 00:00:00,2018-03-04 22:56:47
99178,44d1e9165ec54b1d89d33594856af859,a7dbcf5043158d6fa72859eead2f3d10,4,NaN,NaN,2017-05-24 00:00:00,2017-05-24 23:15:21
99199,40743b46a0ee86375cedb95e82b78d75,3e93213bb8fdda91186b4018b2fe0030,5,OTIMA EMBALAGEM,NaN,2018-08-08 00:00:00,2018-08-08 16:56:16

In [146]:
# Looking one example of duplicate for order_id
order_reviews.loc[order_reviews['order_id'] == 'f9c78e6e58306dc81efbbada1ac11f24']

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
4753,3c95105686e2ae71e8fd94b6483eba79,f9c78e6e58306dc81efbbada1ac11f24,2,NaN,"comprei 4 cubas ao mesmo tempo, fui cobrada pe...",2017-09-19 00:00:00,2017-09-22 15:23:29
9795,95a3135743556b117d888cc8c6e12e11,f9c78e6e58306dc81efbbada1ac11f24,3,NaN,O produto chegou antes do prazo mas recebi um ...,2017-09-14 00:00:00,2017-09-17 11:14:08

In [147]:
# Looking duplicates
order_reviews[order_reviews.duplicated(subset='review_id')]

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
3317,3242cc306a9218d0377831e175d62fbf,9c5bfba7de6a4abbb6ba0baab78d1622,5,NaN,Ótimo,2017-07-21 00:00:00,2017-07-22 01:06:37
5719,308316408775d1600dad81bd3184556d,3fe4dbcdb046a475dbf25463c1ca78bd,5,NaN,Ajudem a rastrear uma das 3 prateleiras que fa...,2017-09-07 00:00:00,2017-09-11 09:58:09
7213,8ee90ac383cf825bb7f4756130d4e74a,75d5d3d16567a27eefc5752aeb063072,5,NaN,recomendo,2017-05-30 00:00:00,2017-06-02 18:16:17
7805,d433c252647c51309432ca0b763f969b,191abde9c3bf77d1ce67d100d8db6d15,1,NaN,NaN,2017-09-03 00:00:00,2017-09-06 16:11:00
9013,03a6a25db577d0689440933055111897,3fde8b7313af6b37b84b5c7594d7add0,5,NaN,Muito Bom! Gostei Bastante! Tecido Ótimo! Aten...,2017-12-15 00:00:00,2017-12-16 01:32:18
...,...,...,...,...,...,...,...
99108,2c6c08892b83ba4c1be33037c2842294,42ae1967f68c90bb325783ac55d761ce,4,NaN,"Chegou um pouco amassada, mas nada de mais, e ...",2017-07-03 00:00:00,2017-07-05 19:06:59
99124,6ec93e77f444e0b1703740a69122e35d,e1fdc6e9d1ca132377e862593a7c0bd4,5,NaN,Vendedor compromisso do vou o cliente,2017-10-07 00:00:00,2017-10-07 19:47:11
99164,2afe63a67dfd99b3038f568fb47ee761,c5334d330e36d2a810a7a13c72e135ee,5,NaN,"Muito bom, produto conforme anunciado, entrega...",2018-03-03 00:00:00,2018-03-04 22:56:47
99167,017808d29fd1f942d97e50184dfb4c13,b1461c8882153b5fe68307c46a506e39,5,NaN,NaN,2018-03-02 00:00:00,2018-03-05 01:43:30
99178,44d1e9165ec54b1d89d33594856af859,a7dbcf5043158d6fa72859eead2f3d10,4,NaN,NaN,2017-05-24 00:00:00,2017-05-24 23:15:21

In [148]:
# Looking one example of duplicate for review_id
order_reviews.loc[order_reviews['review_id'] == '3242cc306a9218d0377831e175d62fbf']

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
1009,3242cc306a9218d0377831e175d62fbf,711246846695fa895c1776f0ddc30b20,5,NaN,Ótimo,2017-07-21 00:00:00,2017-07-22 01:06:37
3317,3242cc306a9218d0377831e175d62fbf,9c5bfba7de6a4abbb6ba0baab78d1622,5,NaN,Ótimo,2017-07-21 00:00:00,2017-07-22 01:06:37

We have sometimes :
- The same review_id for differents order_id
- The same order_id for differents review_id

Several reviews for the same order could be understandable if there are more than one product in the order. But the same review for different orders doesn't seem to make sense

In [149]:
# Looking one example of duplicate for order_id
order_reviews.loc[order_reviews['order_id'] == 'f9c78e6e58306dc81efbbada1ac11f24']

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
4753,3c95105686e2ae71e8fd94b6483eba79,f9c78e6e58306dc81efbbada1ac11f24,2,NaN,"comprei 4 cubas ao mesmo tempo, fui cobrada pe...",2017-09-19 00:00:00,2017-09-22 15:23:29
9795,95a3135743556b117d888cc8c6e12e11,f9c78e6e58306dc81efbbada1ac11f24,3,NaN,O produto chegou antes do prazo mas recebi um ...,2017-09-14 00:00:00,2017-09-17 11:14:08

In [150]:
# Looking if this same example as several products for the same order
order_items.loc[order_items['order_id'] == 'f9c78e6e58306dc81efbbada1ac11f24']

,order_id,product_id,seller_id,shipping_limit_date,price,freight_value,order_nb_items
109914,f9c78e6e58306dc81efbbada1ac11f24,1d2d3b19f5c3d093d4dbccd3cd963a8f,7ddcbb64b5bc1ef36ca8c151f6ec77df,2017-09-07 22:23:53,194.99,20.85,1

We can see that one order with 2 reviews has only one products so it doesn't make sense as well : we will drop duplicates

In [151]:
order_reviews.drop_duplicates(subset=['order_id'], inplace=True)
order_reviews.drop_duplicates(subset=['review_id'], inplace=True)

In [152]:
data = pd.merge(data, order_reviews, on=['order_id'], how='outer')
data.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_geolocation_lat,customer_geolocation_lng,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,product_id,seller_id,shipping_limit_date,price,freight_value,order_nb_items,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.498489,-47.396929,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,1.0,88b8b52d46df026a9d1ad2136a59b30b,4.0,NaN,NaN,2017-05-26 00:00:00,2017-05-30 22:34:40
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,-23.727992,-46.542848,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48,1.0,02fc48a9efa3e3d0f1a8ea26507eeec3,5.0,NaN,NaN,2018-01-30 00:00:00,2018-02-10 22:43:29
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,-23.531642,-46.656289,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79,1.0,5ad6695d76ee186dc473c42706984d87,5.0,NaN,NaN,2018-06-15 00:00:00,2018-06-15 12:10:59
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,-23.499702,-46.185233,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36,1.0,059a801bb31f6aab2266e672cab87bc5,5.0,NaN,NaN,2018-03-29 00:00:00,2018-04-02 18:36:47
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-22.975100,-47.142925,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25,1.0,8490879d58d6c5d7773f2739a03f089a,5.0,a melhor nota,O baratheon è esxelente Amo adoro o baratheon,2018-08-10 00:00:00,2018-08-17 01:59:52

In [153]:
data[data.columns[data.isnull().any()]].isna().sum()

customer_geolocation_lat           278
customer_geolocation_lng           278
order_approved_at                  160
order_delivered_carrier_date      1783
order_delivered_customer_date     2965
product_id                         775
seller_id                          775
shipping_limit_date                775
price                              775
freight_value                      775
order_nb_items                     775
review_id                         1285
review_score                      1285
review_comment_title             87932
review_comment_message           58861
review_creation_date              1285
review_answer_timestamp           1285
dtype: int64

In [154]:
data.shape

(99441, 26)

## IV - Data and order_payments <a class="anchor" id="5-bullet"></a>

### a. Checking order_payments coherence

In [155]:
order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [156]:
order_payments.shape

(103886, 5)

In [157]:
order_payments.isna().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [158]:
# Looking duplicates
order_payments[order_payments.duplicated(subset='order_id')].sort_values(by='order_id')

,order_id,payment_sequential,payment_type,payment_installments,payment_value
89575,0016dfedd97fc2950e388d2971d718c7,1,credit_card,5,52.63
98894,002f19a65a2ddd70a090297872e6d64e,2,voucher,1,33.18
30155,0071ee2429bc1efdc43aa3e073a5290e,2,voucher,1,92.44
16053,009ac365164f8e06f59d18a08045f6c4,1,credit_card,1,0.88
32058,009ac365164f8e06f59d18a08045f6c4,4,voucher,1,5.45
...,...,...,...,...,...
26914,ff978de32e717acd3b5abe1fb069d2b6,2,voucher,1,10.80
28611,ff978de32e717acd3b5abe1fb069d2b6,3,voucher,1,0.66
55988,ffa1dd97810de91a03abd7bd76d2fed1,1,credit_card,1,36.58
32912,ffa39020fe7c8a3e907320e1bec4b985,1,credit_card,1,7.13
75188,ffc730a0615d28ec19f9cad02cb41442,1,credit_card,1,14.76

In [159]:
# These duplicates could be explained by several payments for one order, let's check it

order_payments[order_payments.duplicated(subset=['order_id', 'payment_sequential'])]

Empty DataFrame
Columns: [order_id, payment_sequential, payment_type, payment_installments, payment_value]
Index: []

In [160]:
order_payments.shape[0] - order_payments[order_payments.duplicated(subset='order_id')].shape[0]

99440

In [161]:
orders.shape

(99441, 8)

In [162]:
# It seems to have only one row of difference, let's look at it

order_payments_unique = list(order_payments['order_id'].unique())
orders_unique = list(orders['order_id'].unique())

set(orders_unique) - set(order_payments_unique)

{'bfbd0f9bdef84302105ad712db648a6c'}

In [163]:
orders[orders['order_id'] == 'bfbd0f9bdef84302105ad712db648a6c']

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
30710,bfbd0f9bdef84302105ad712db648a6c,86dc2ffce2dfff336de2f386a786e574,delivered,2016-09-15 12:16:38,2016-09-15 12:16:38,2016-11-07 17:11:53,2016-11-09 07:47:38,2016-10-04 00:00:00

This will create one NaN value during the merge

### b. Transforming order_payments to avoid duplicates

In [164]:
# Look one example of duplicates on order_id
order_payments[order_payments['order_id'] == '009ac365164f8e06f59d18a08045f6c4']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
285,009ac365164f8e06f59d18a08045f6c4,5,voucher,1,8.75
15298,009ac365164f8e06f59d18a08045f6c4,6,voucher,1,4.17
16053,009ac365164f8e06f59d18a08045f6c4,1,credit_card,1,0.88
16459,009ac365164f8e06f59d18a08045f6c4,2,voucher,1,4.50
32058,009ac365164f8e06f59d18a08045f6c4,4,voucher,1,5.45
73837,009ac365164f8e06f59d18a08045f6c4,3,voucher,1,8.25

We can observe that for the same order we have one row per payment with different informations. To avoid duplicates, we will have to synthetise these informations on one row with new variables :
- nb_payments
- prefered_payment_type
- mean_payment_installments ROUNDED
- total_payment_value
- mean_payment_value
- max_payment_value
- min_payment_value

In [165]:
order_payments_new = pd.DataFrame()

order_payments_new['nb_payments'] = order_payments.groupby(by='order_id')['payment_sequential'].max()
order_payments_new['prefered_payment_type'] = order_payments.groupby(by='order_id')['payment_type'].agg(pd.Series.mode)
order_payments_new['mean_payment_installments'] = order_payments.groupby(by='order_id')['payment_installments'].mean()
order_payments_new['total_payment_value'] = order_payments.groupby(by='order_id')['payment_value'].sum()
order_payments_new['mean_payment_value'] = order_payments.groupby(by='order_id')['payment_value'].mean()
order_payments_new['max_payment_value'] = order_payments.groupby(by='order_id')['payment_value'].max()
order_payments_new['min_payment_value'] = order_payments.groupby(by='order_id')['payment_value'].min()

In [166]:
order_payments_new.head()

,nb_payments,prefered_payment_type,mean_payment_installments,total_payment_value,mean_payment_value,max_payment_value,min_payment_value
order_id,,,,,,,
00010242fe8c5a6d1ba2dd792cb16214,1,credit_card,2.0,72.19,72.19,72.19,72.19
00018f77f2f0320c557190d7a144bdd3,1,credit_card,3.0,259.83,259.83,259.83,259.83
000229ec398224ef6ca0657da4fc703e,1,credit_card,5.0,216.87,216.87,216.87,216.87
00024acbcdf0a6daa1e931b038114c75,1,credit_card,2.0,25.78,25.78,25.78,25.78
00042b26cf59d7ce69dfabb4e55b4fd9,1,credit_card,3.0,218.04,218.04,218.04,218.04

In [167]:
order_payments_new.shape

(99440, 7)

### c. Merging dataframes

In [168]:
data = pd.merge(data, order_payments_new, on=['order_id'], how='outer')
data.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_geolocation_lat,customer_geolocation_lng,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,product_id,seller_id,shipping_limit_date,price,freight_value,order_nb_items,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,nb_payments,prefered_payment_type,mean_payment_installments,total_payment_value,mean_payment_value,max_payment_value,min_payment_value
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.498489,-47.396929,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,1.0,88b8b52d46df026a9d1ad2136a59b30b,4.0,NaN,NaN,2017-05-26 00:00:00,2017-05-30 22:34:40,1.0,credit_card,2.0,146.87,146.87,146.87,146.87
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,-23.727992,-46.542848,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48,1.0,02fc48a9efa3e3d0f1a8ea26507eeec3,5.0,NaN,NaN,2018-01-30 00:00:00,2018-02-10 22:43:29,1.0,credit_card,8.0,335.48,335.48,335.48,335.48
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,-23.531642,-46.656289,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79,1.0,5ad6695d76ee186dc473c42706984d87,5.0,NaN,NaN,2018-06-15 00:00:00,2018-06-15 12:10:59,1.0,credit_card,7.0,157.73,157.73,157.73,157.73
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,-23.499702,-46.185233,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36,1.0,059a801bb31f6aab2266e672cab87bc5,5.0,NaN,NaN,2018-03-29 00:00:00,2018-04-02 18:36:47,1.0,credit_card,1.0,173.30,173.30,173.30,173.30
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-22.975100,-47.142925,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25,1.0,8490879d58d6c5d7773f2739a03f089a,5.0,a melhor nota,O baratheon è esxelente Amo adoro o baratheon,2018-08-10 00:00:00,2018-08-17 01:59:52,1.0,credit_card,8.0,252.25,252.25,252.25,252.25

In [169]:
data[data.columns[data.isnull().any()]].isna().sum()

customer_geolocation_lat           278
customer_geolocation_lng           278
order_approved_at                  160
order_delivered_carrier_date      1783
order_delivered_customer_date     2965
product_id                         775
seller_id                          775
shipping_limit_date                775
price                              775
freight_value                      775
order_nb_items                     775
review_id                         1285
review_score                      1285
review_comment_title             87932
review_comment_message           58861
review_creation_date              1285
review_answer_timestamp           1285
nb_payments                          1
prefered_payment_type                1
mean_payment_installments            1
total_payment_value                  1
mean_payment_value                   1
max_payment_value                    1
min_payment_value                    1
dtype: int64

In [170]:
data.shape

(99441, 33)

## V - Translation of products categories <a class="anchor" id="6-bullet"></a>

In [171]:
product_category_name_translation = pd.read_csv('product_category_name_translation.csv', sep=',')
product_category_name_translation.shape

(71, 2)

In [172]:
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [173]:
products.shape

(32951, 9)

In [174]:
product_category_name_translation.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [175]:
product_category_name_translation.shape

(71, 2)

In [176]:
# Looking if every categories of df products are translated in product_category_name_translation

set(list(products['product_category_name'].unique())) - set(list(product_category_name_translation['product_category_name'].unique()))

{nan, 'pc_gamer', 'portateis_cozinha_e_preparadores_de_alimentos'}

In [177]:
# Two categories doesn't seem to be translated, let's add the translation to the df

product_category_name_translation = product_category_name_translation.append({'product_category_name' : 'pc_gamer', 
                                          'product_category_name_english' : 'pc_gamer'}, ignore_index=True)

product_category_name_translation = product_category_name_translation.append({'product_category_name' : 'portateis_cozinha_e_preparadores_de_alimentos', 
                                         'product_category_name_english' : 'portable_kitchen_and_food_preparation'}, ignore_index=True)

product_category_name_translation.shape

(73, 2)

In [178]:
translation_list = []

# We iterate over the 2 dataframes to create a list with the translated categories of products df
for category in list(products['product_category_name']):
    if category in list(product_category_name_translation['product_category_name']):
        for pt_category, eng_category in zip(list(product_category_name_translation['product_category_name']),
                                             list(product_category_name_translation['product_category_name_english'])):
            if category == pt_category:
                translation_list.append(eng_category)
    else: # Only NaN aren't translated
        translation_list.append(np.nan)

# Check the lenght of the created list is correct (should be equal to 0)
len(translation_list) - products.shape[0]

0

In [179]:
# Replacing current values (in portuguese) by translated values (in english)
products['product_category_name'] = translation_list
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,art,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,baby,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,housewares,37.0,402.0,4.0,625.0,20.0,17.0,13.0

## VI - Data and products <a class="anchor" id="7-bullet"></a>

In [80]:
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumery,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,art,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,sports_leisure,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,baby,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,housewares,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [81]:
products.shape

(32951, 9)

In [83]:
# Lookin if there are differences between data and products for product_id
set(list(data['product_id'].unique())) - set(list(products['product_id'].unique()))

{nan}

In [180]:
# And the other way round
set(list(products['product_id'].unique())) - set(list(data['product_id'].unique()))

{'baf59a3a8f15ea34f04394f44bad573a',
 '0eb14dca77e29c41da121dfa88b4b0ea',
 '3528876f41132ca5604b505343619412',
 '6b5d792112275a0262356e64e098025f',
 '4dba4de4cd67ba2191c34468ac2ca841',
 'bc8b883240abcf055de69c37170844d7',
 '33f38661c7e75dfddb833dc4cd2f1c27',
 '6557070af155fe4cc5820b0e123ecdf8',
 'f77f34a4f2b8f31e2bcc50a478888064',
 'abe839f92bf39ec954b4b37b4b6c6860',
 '9befce53daaaaab36a5947f3cd80f42d',
 '09cb4aa62c518d0842e1c5f28ac940ff',
 '0e92dcf7b03df1de4e9349af065f8e63',
 'cad04bbd56e9e1392a586f51477a7e3b',
 '39c077875cf3aa49a65aabe97ea0c0d8',
 '08ba023e3ad57b10b6d5378ce3f22f9a',
 'fa94f25a73969e3a25d52706e246dfcc',
 '0d86ab499a2af7f2352d18e2a6be12f4',
 '47b627a984bc4bde1b90fcb73fe0fd3c',
 '3aaf169c291f3a9e57cae0428e82e545',
 '0bbfbce1edd4c12c0a15b6b5dfba409f',
 '8999ae93f98ab5d5b5f5efbd4c2b8f88',
 '46e477d89da734ac9f6b12073503711a',
 '47afe56948e4dea1c15bf6c808da1a22',
 '1d1415f17f1a93060326d6c3e223aa3c',
 'c1c1d3afbe6a5ab7a534f7ea20e09b8e',
 '14d8c1bbd5f367608c37522e99c47258',
 '570bc3b3d1e5e422e2f48dda6adf72d7',
 '8ddbf2c953e42ed2a627c4ac08706bc2',
 '8029d86aeeffd256b2b82cbe2986f386',
 '56139431d72cd51f19eb9f7dae4d1617',
 '04f982a576e5d149919df37e292fa79e',
 'be8fabd5f8a50dbb81c1f36499f077d8',
 '96f8ecb5e5705b3b726d7e3022622575',
 '978017df6a79f817ff723f62ccd2c786',
 'a402021e638981087a4952cb77e5c46b',
 '24baefeed71136f90df0149ca1e85c49',
 '43c9506443a52a22cace92d7eef9cfcb',
 '98de98bcd25120495ad55c516a11a531',
 '8cf22b2cc9465d64474a09853b62f5b2',
 'efaf96097dbe32a78254739ee35900cb',
 '43f1e9b31236ad9ef63197b36bf00dbc',
 '99306a16cc05ea73566ac3a2d92122ce',
 '17f05cc6ef5563b5e096ab059ca926b4',
 '871cfa7d587b8305a5a0e376866323ef',
 '39fda099b9edc21f85a80d14021579b5',
 'ca165220cdeb3367ea870193baf4a7cd',
 '6c3f9c870ff6e96ad4f4511602078fb0',
 '591efcfda8812f90d99a864afde3917f',
 '8e42c31b4ca1afbb6bbe17efdd666cf5',
 'f727305c90ca9b9c36d4e84a817bc01d',
 '093f7389fa2eccda5e86add8da4aa19e',
 '809ab2033b8267fc321860bf0d4dbb11',
 '908071e6f99433fe356fcfaa41fd1d1e',
 '2b9b580cdc992e165ca0336a078d695f',
 'aa39d59b0fe9c8b0162f5d855833c97d',
 '373449943bcfafb2d3ff7423408a1c9d',
 'c006d1427332464b79808bd9dfaec943',
 '7676b117e79a01065c4962a3064886f6',
 'b6e406be1aa00db8be5dd3ec6b524d4d',
 '9d717f96236e39a3dbe6326b9d51d681',
 '274c0bd39936b237bdb8cee38abf94f5',
 '91894be08b341b3d6228779d2a80ab94',
 'c1a29976487f2c410740e8a1a4bf5720',
 '5c2fc243b33c2c7c211fd9e09beb7cab',
 'b121f98815a33782f552005a2f39c6a1',
 '82c56b8583385afa6570d84dfe063a0a',
 'f26157889d4e8ee5b3cbcce8e51c7d2f',
 '8f125d4dd972e1eab1ad8d6644f63330',
 '12b5c284044adc0687a6ffbe84d317e2',
 '24decea9d84c24b8c6c53a2df90066e9',
 '986551a629c57419d4d2b74cdefc34dd',
 '23178b11e22e9265d208346b0607974b',
 '7d873ae7ba4e637167c1a8d544bd6af8',
 '0a28355911f72609e396a3dc10b11c90',
 '2c41d13dc2cf0e9c2e8db8952f0f3ff3',
 'd3e112316bd3ae29280cec26bd3059fd',
 'e146dbd6493fdfb50152400fc162f25a',
 'f0fe4af158ebc28426b794c0b54d3df1',
 'd92239d375e7626174b8545ea884b504',
 '986af931e7ce399914deaa43d224b124',
 '730937a8c78836ad923291765cbd8b38',
 '33c18a3e86c00fca807265cf34354996',
 '2480fca3af4f5221cf3596c257be308b',
 '769106ca9d176076a3f0debb980e64ba',
 'bd421826916d3e1d445cb860cea3c0fb',
 'e887a6dd92133f40be82741d1998b9de',
 '9f4a55260fae788c26fcbb2b934ffa52',
 'b75ad41bddb7dc94c7e555d9f78f5e8a',
 '17606c7d7254ed1f0351fd48a28be932',
 'd5bf1e6386a450dd26acf14a6f41768f',
 '2fab6789523833dd6179314d5c7da56f',
 '22c7191da97262f0f39de80e1951dce2',
 'f6cdf7aae7f5fb3d67142d5f385ae785',
 '90871024847effc9791a5051a4d4160d',
 '0042f1a9a7e0edd1400c6cd0fda065f8',
 '9648b0bf87f29f78dd9fcbfe58d0e6a6',
 '0a56efd5f050d3f861a04c6f005d1128',
 '72de34cc9f1e580f4c11d830be654271',
 '30fdc68482fb0487e68aaf09260b22cf',
 'bf5c9388b3b4225c6578eadbde4781db',
 'bc0d2d816d425e6ce3e80d8b9887d324',
 'e87093a08e761c9fbf7dd461227f66c1',
 'aacee6f1f7be193e891a8cca7a3a849a',
 '4beaa629c1622b0fc9471351db5ea62c',
 '17e18b0c88a853dd6de3e48a7cfa9d9a',
 '188c9cb0aff9e485e3f84752731c633a',
 '44f33e4105880d97c9db2506954dbfa3',
 'd05bb6074b45c20f7a516c239c0a1c43',
 '0ac0d30f666402b0d004e26c5e57eb0f',
 '242eb53ca3c0b52e275b6fd7ce8b0be7',
 'ff7263dfb3cfff5421ada48c3899c313',
 'c29000fbd43fc3693f8ad048b2e511d2',
 '4299cf45bc9aa8ef5bd9337035c286e5',
 'f2bec64d5d795250be5e5ec2d38a19b6',
 '28447390cfd2a411fcb8c008b6163da2',
 '6d0af4d8b482cc38d72acafc37bdd8f1',
 'fef0dd8c53552d0f784b7cc5375a3ffe',
 'cc2de3090e4e70b255499285f2d72735',
 'd00c845d98a49bda7c00543fa86d2540',
 '281905b21f01db1009fd7c01b10dd1d4',
 'd4ef01e7655c13ceef1d7d248e0fdd99',
 '59d6e6082548af8b6dbabaceb115c676',
 '5f6ab61ba623091b2ced14e75d9e56a6',
 '6d7bc0518cc2406af3d486526806d50e',
 'cb790fa02cc6097dcbf8f9f05904a005',
 '56e8054262b705086dd99fc97b01a9e4',
 'c4c508eec81b6f7eb8153419004c6450',
 '83b4e88ac4a5689bfe0f7afe4a2b07cc',
 '896d1ba1aff2ffd509007edf7de92e98',
 '0f6e214a2c5baab8c1ccb053a0829f13',
 '7b2fc344801b7bd210743493b0cf9385',
 '5d61fa9714218b033b42ca6cbf0f2570',
 'fec2d939a171210847d8f2d102f0dba5',
 'fe9c4b2cf9c3adbaf3644880fb72254d',
 '2a256d1fd193c91de19036b7b9bde617',
 '2e2b9bfa91068239d5fb2b39764b92a5',
 'f28498bb062a90c71f4579ce18b5f6f8',
 'b04aad9dbf15eae09db4376ff7590cff',
 'd552454cae098a0bce10f658411fead1',
 'e4c0d69bafff0157f574aae9a147a8c1',
 'b22be29b1a6f923436642bb5fe433071',
 '5215eef690e61a0c178ed552e6e2d06a',
 'd568eba76717c34870be82a2e9a194cc',
 '74528b0886c5bd579dc5794d8c8c4f2b',
 '29608c81e9f1be14503667ecd1d35c63',
 '5096e827f6152df3974343e735a52dc9',
 '10dbe0fbaa2c505123c17fdc34a63c56',
 '8cc117b0bec16e2f0b683e40846ad09c',
 'bd481cb85531aa8ef9c09eb9e6a9e0a9',
 '77dfeb0e34976854ba703a339ff8fb2a',
 'da8faea5f69f03fce4dfc01ceee4f1dd',
 'd348ac5af6bfd272f42c47f26e56a425',
 '93e0df39afbe96d9194642c0b9330c60',
 'a2151451d8c68ef83187a295422a8334',
 'f9bdcb274f479aa71dd34e8bccdd9a82',
 'bdeca320bdf54d3cdbb982d737526dc5',
 'c938aead190afc62a55dc7bde80c5a24',
 '5ed1d686373e3b3a2ddd9a4ce44f3fb2',
 '464a2bd11ce5cf1fcfb4f609dedcf914',
 '577fd304233fe9412349ef6a4a3f6ae6',
 'b0a0c5dd78e644373b199380612c350a',
 'e5f8f7fec18736ea009f2f7334543497',
 'dc68f155e986fb3c7550ae1c6800149a',
 '1a1607ff3b9bced214efc0a8cdfb2510',
 '0aa186c65b07e61f5ac114182ab92a2b',
 '77c85114b82935ec7619f75cdf072a48',
 '09a1f8a0ac3f2a9d3eed87339b7fd9d2',
 '9fe67dbcc33795d7fafe354d7c850115',
 '13b6735a82ec831943957f19fe66f71e',
 'cc88837a83ef7b7ea2bf724434a53ef3',
 '809aeb9f696910839dd8fd2c533e65a4',
 'f98f1e2ce655ba8f88a8593e80243cca',
 '74006af1917b5e79f78f35767fa221ba',
 'd815c471ccb5ba83a8c49fc5ecb28266',
 'ca5f4739dfdcd4d73b210a344b426076',
 '3ebbc0870d51b62783c45e0e61ccb78d',
 '9b4155ed13be02dc3f5c3646218d4f91',
 'd801653b991d31a3df73fc859f1ce0ec',
 '40376ad8bd1bd1066449dbb09440dc43',
 '57a2ee969286488b5437acce27b74259',
 '00d2fa6f2a87633084c8e0400d41a65a',
 '8ffc89162cccaef5a98a4c0bcd241a0e',
 '5b4b1b784b2ba10717ef4a338809f776',
 'a8d2af10596b8acd5f45c720fe9745aa',
 '4e41b17f39aabdb1eca7b0af6722ba62',
 '625218e2e2b4668a47d08911e0def1a4',
 '3ffa02e2ee2ce17abb51b4545f367e7f',
 '7439223069be0c67de28ae02a2a13810',
 '608396ec032711eb443596cb8cdce050',
 '3fa864b2eb9bb60d23bfe315213bb5d9',
 '775cbb352638cb5e59cea1637da006cc',
 '0288f8dd74b931b4ec7a468fdd6ed040',
 '5421431a9abfbdac3006e7aa925c0213',
 '3a1d2391ad7b58b404bce1939446332b',
 '5eae236b07a8c5db6299c7f9c3ba2e6e',
 '66bd6e465a87926adb15dec604948867',
 '154696c4f8e96ed48f0c191eb09c0683',
 '756feaccd3c677658c9e70bf09ef43b9',
 '8c7fe240bfde64b6a20eec6fdb986b1b',
 '06ecc3d4006ad6eb293a1b93ec3c7183',
 '63cbf4066cf395d6634831160ddacbbd',
 'e4da15679c5e9692e847a2912c5db154',
 '01e20e6604216c8adb31d463214ba00c',
 'dcae59c653ba99aebddbd821718e37fe',
 '446cf7e594fa3103f5d26069356b55e2',
 '7494075d75b7855aae586070f6a12113',
 '862e1c1b2c4a148c5a5b23dc0ced1fba',
 '5920a5f8a50972ae043bc4fdff2c7173',
 '3a8b4f569449a1671e0d172023030113',
 '325a06bcce0da45b7f4ecf2797dd40e4',
 '7fbbe412c783af7237d40b9145aa5a8b',
 'bf7f941911c1e02d8dd6c637811b6127',
 '76397820b3556e99a4a2e3056eca24e5',
 '59b215ecd21969237a8ebb0f8a2bffc2',
 '7dfced4c66ef7bd85f2e30eec92e1b34',
 '678c229b41c0e497d35a25a8be1cc631',
 '9b7852df1a77c9a80cf5151803db4282',
 'aed1b83c5061ac7f89d40daa1bd3be6c',
 '75bc68276acddf2f0940f421a54338ee',
 '7d00a7c029fe3cf2bddc1e8e0484c2c1',
 'ba37ce1b5e0638cf45fd59f63ada0093',
 '6548c9763cc930450fb8b73c3353812f',
 '96627b65a0070635b620d07f97e63347',
 'a996a150a7fd0eba6a177ec84b939b51',
 '8e0be6304c4a94268be42e2d8dfaded9',
 '46b609a28b05ef9d5179026a055c5121',
 'bac2d18d169f029e0721b8aca9c8f269',
 '95a6ad831088e19c94a25f818c805c0b',
 '7c9a2f11f8700d221c0482c045f7c98a',
 'a641c89dc8c19516ec7706a3c09c9424',
 '7755106d0e62f58f17df7f06db8751da',
 '16522de6b7f6222b7f9c3b00a0cf3218',
 'dd6171dfce1d62dbf472f83fa352d309',
 'd143bf43abb18593fa8ed20cc990ae84',
 'c667317c8619402c91347027f2dadbce',
 '1bc1199ed7fbe6f13ea973952868b93e',
 '0e34466be9b2d3af8e189b6d27d5eaf3',
 'c6548fa817cc7271747e6c6bd2461171',
 '286ae430a4ebbf9a6048a42f362fa322',
 '79ce45dbc2ea29b22b5a261bbb7b7ee7',
 '232a5adb0fc1881bbfeb03560c639c31',
 '6d8d9c9af735eae354cb0b43a9cbebfa',
 'f2ed77847f3b2e104b246bef65f15d0c',
 '4aabcc5cb08a8a919cc46a2a7a7d1bd9',
 '70431405f38dc4a0ee25fbfba20dbd16',
 '281a67fd770c975ee1a7c842468fb3b5',
 'f10163ef5dd01ee5f3622b750b64091c',
 'c59a1dc190f9bfe826a1b40edb7593e8',
 '9c6704903ee7bc2b10029e64f76d749b',
 'f3a1a865ba61412ac17ab53f1a9c0082',
 '4c8fae70c244a7ff63b9c1f73fb0a987',
 '14086fd4907ab4135efce70c2cd3c013',
 'e86b81dcac341ea01df0260077cdf082',
 '8e87b57f5bc7661130ee7803017f3f32',
 '334f9a7bc70ecefea3a1fc7dd1c7ec76',
 'b627957ffcd19ace5037a5df4230d1fa',
 '69eeb1281add8e5d8b916637f9f11a1b',
 '3dd7de1b6e3362ad26c1879acc292f19',
 '892bc3e900a6ad3cba5112ccdb33466f',
 'f3fad6d734fb27bf8a548562e04f9a5e',
 '3c516e321c28ec378c4342e1845c4332',
 '7353d65237c6a5d28f5781889cc58fee',
 'f293394c72c9b5fafd7023301fc21fc2',
 '6f2c108731ef77738da45855e737c1bd',
 '0d944ade388f4db684ab7578aadcc0ad',
 '40678c9096047877fa74a25cc6f0a726',
 'b8ded693eefc7fd6fae337f6c202093e',
 'cf0d29a0ea1464f4c3e5594d0746c51b',
 'b90e1ae66051c1c035ae54b2bcb889ff',
 '0b3f89ace3b97bec2e2d981cfd2537b3',
 '84e802ba3fc66fc964e863cadf8c7938',
 '40b6762970c412b5b5392cd0d4c006b1',
 '3e362e76af5b6669122b87d6f0a38eca',
 '238314b88e4b8ffa496db6b1a201d897',
 '566a14211efb01bf3e8ac11007379e93',
 'a78ca2f8bd17ee6472a95310f930ec54',
 'f883c296edea388761ae3de2bc4870f3',
 '57d9a5d185e8254383504f57c4b8ddcc',
 'b842a6c9c2c51a699729d378d8d674fc',
 'b7f9e962dba31973edd059ada998d699',
 '99c88c191bbed92f5be4ca3b00eb1a42',
 '4fa87eb0a7d3d0e774828565b1b8020a',
 'f879fadd73c7b81f0b278dacc880cf08',
 '28857b241545853875bda6661ccdf0f7',
 'd899300bb0834fde956e80ce7ca0c958',
 'c12c1482a995be91e395cb9276661e32',
 '83b9177e8afdc2719c085b5a96aa441b',
 '6f58f28210b611d0907de2b23c2e78a9',
 '1a44ee797acd13dc4585b03de4f8e112',
 '81e5968d5cc613a7fb67502880db9946',
 '308e4e21ae228a10f6370a243ae59995',
 '3234b4f9542a9f6a450e988820390fab',
 'e1dae76b5f1c39746a05aebb9ea23d1d',
 '924b2122bcd5d6eb53d37a167d3b1d47',
 '4715eb4e21b1833327567e8c62ce5790',
 '55363f487ca324087a49ddfcfb91b971',
 'ab33dc82f8f99512a4a7086d5e143b96',
 'd04260412d1933cf60238985c57b1749',
 '198f4a07b346797ac244a9fe3486d17a',
 'd2cd82700fc883c398ede93125dc1793',
 'a2ba5bcfe3ee03832bf8f324caa32dad',
 '0ee7a6e1cd4ecf72e711a2f68b4d8d2e',
 'b6f9abef16fdfec89e4f3675f6627dca',
 '8c22b9ad6943f7dfc87fde6fb92ab133',
 '1b0e9a414e59a00b13262ffb248ed9b4',
 'f85aa92e1305fc26494dae38bba39266',
 '7a5b821fca01c5a75fa33c06f249e0f5',
 'd3350fee567b6f7149265243bc8cf282',
 '49f57e8347e394d0ddfcc1c8acaf9b2d',
 'd7a3cfa08519494aa1ad181e803617ec',
 '567f4f60d4e44c92dd00ecd0920ce6b1',
 '7d7cb1699744aa881c5a06f79cf072ff',
 '64ec83de8f0026319c8829351e3d6e23',
 'dc23131445c27852a44f8ad0d94b3d0f',
 'd51e0a7f437c0d14f560082ed007fd85',
 '564a04f027fb97b53ca08464632db860',
 'bd2c3709849255acdbf5855094cdaa01',
 '528dac9e82a36e6b5150d263d1bdaaa9',
 '61b82c5df7252c3a4484943ebadd2a4d',
 'b3d141fdbe3680294a78f0b712c87159',
 '26479f7e6b832d2e19a14dd8393bb30f',
 '88e40881adf08ea3b87cb1d65c8c1d83',
 '0f343c0a45653e6efea356d147833357',
 '966a067b38634929844120e39b1576bc',
 '98354ddeaeae40bd6b705381191a9ffc',
 '47b0f8596ee6dafbb4438cac16fa6275',
 '8d28eb3a7309368ca0de19e016266251',
 '93d2aa0c31c4bdfe9d71ae5b1df30287',
 '2dfbe6c95d43a6a29a0d56e5b9f528f2',
 '6bef5951331ab27cf7782d3e6bd6ca0b',
 'acebea1efbaa063642166633d247aec7',
 '084b2ab1a0a79a9757008062ddf8b042',
 '4901f0f8eba79934ba3cdfa1fbc02893',
 '9f05bf9bbb9b5629e674ce58804cd164',
 'bb3a346d0fc86850244000d0fe5bf5dd',
 '5f6b99538b396c18e5e310c2c187dc8d',
 '09c083c98ccb0062e23ddfa6f70adf13',
 'e6a8a1b25dccfe76d339f9cd19be7779',
 '27761f21b03a32be1aad6ebaebddd747',
 '93e6c730cc84ef7cfdd20cdfb2269144',
 'eda9ace7ea76f19d80475c07f44acfbe',
 '52913ee46d43e465b2d40c81e7ccac23',
 '95f76a3205f55d54b001e730486c6737',
 'c0295f791bfc794623d0ea811cca82d5',
 'f03e2584cfc057f8bf76bf5683955585',
 '401717fdb76bea40aad511f64ab03c92',
 'afdbe4b0aad75651b1a127946a589449',
 'b09cd20111b8c27705b617c3b5af7608',
 '829b1d3da6a5e54d51055338281a5dfe',
 '948bd3e9180acc7aa263ae14a2075717',
 '5e2ac503775a811be6aeeb9f87830e92',
 '4b15c9a92a5637d71143577edd7718b1',
 'fa559a64fdb8719b675a8baf140b3d9e',
 'b05fae603a3a28a977633c139cece058',
 '193c2cb87c6687a9da7f8ec495d19382',
 'b86d1f2c052bc4749ee88bb74688d814',
 '4407440c06d8c11ce1b2e61c4382a8f3',
 '262855d4dd5b0d39f786a3c86c285c6a',
 'dea564fb3ed59db512cb4df9c491c1ef',
 '0ff06f670421802f36a7082dc962c6fb',
 '5715a3dc7df27aa1c131f51e17e614df',
 'a4e61cf10d2c48246eb1f9cb56af1e79',
 'e61812136e9f12e9f4359132b1b82870',
 'c3cdb28ed53f4ec5d9afe32753961641',
 'bdfa3ba07ef80b018f8102da22d908d1',
 '76da62260c1793eadb05355edc9fd6ee',
 'ea2d6aa9595ad8927759e363f8210825',
 '50ff36bb35c58748cec5ead466a68aa4',
 '1c9c1e9c68e2311f81258433b7e0092b',
 '779e74ce337266c06bf392935ab34bc8',
 'ee7de8d5e813bc4c5f9f1c38ba41e7e5',
 'ae7fbf136a49b58f2d38fafb2f3205b8',
 '41da75141264c3bde21ecea85a4cb8b7',
 '72acc66d907f5fa13bcd1df22696c73a',
 'f6a00327e33d86dea4cd7175577dd8b9',
 'ca87480e3217597bea91c94423cb30b7',
 'b95d07d7e22e1e9badc878fd8ced3dd2',
 '980a05f1865790c75cf9a22ae4771c1c',
 '236fdb1c273caaa9a7dbff8111e6a4e1',
 'e101ca6287658a6104e804774d56b871',
 '873c256958122a0b04f65c23f8bc2329',
 'b342efe893c9d54f8cf0fe3424bb6b5a',
 '1a4247b6eddc27c68f7995dcc68b01e2',
 '69c1a709ba2ac6511ef8553b93074ec1',
 '1649a221a63658447144a466b159b101',
 'a3816405c56f1df398541ee9c498b056',
 '399f54c06661d06ca45c6e24ed238e0e',
 '7ee8a1b1807716291e12649b1d617896',
 'a2a1a65832c02f8a82d82c12aa0dbea9',
 'ef294607deabb11f3a073420257ab579',
 '6ddc8b938d09dc6cdc48aff7252e5f0e',
 '728cfef9eca3d89054807d5c7e894e04',
 '073a5dfc26cb33ef440b2e0aa29343a8',
 '356bc9278252d4fb0c566e64612fc83e',
 'cbe73e033835920bea2c769177237510',
 '0dfb3f08547a24999bb7ec4d025b7d7d',
 '5467d6901b698f1fe968337ee39c5dfd',
 'b8f2f150810c5ddaef91dc06f045c597',
 'ffcfaba393e8ef71937c6e8421bc2868',
 'b7c82520f8817fc72f7f5ac962035260',
 'dcbdf52239601eca861bf0d1aa598fab',
 '44a064a339782c3cdd7e457b169ef0b0',
 'bf44071ef18f5c9ded039681c68b1996',
 '7b0319f86ca302954787a58d2b3831da',
 'bf1b2e528a5bb0bbc9c121afd9b9c7ee',
 '71577b7befec8802e6153ca6b35a793d',
 '32dfa38395ccd47d7b320470b0514fee',
 'd3a386ad58b99f0ddcc216ed9efb03c3',
 'e00bca3fc8267dabace41fc4bc7366d7',
 '0b33e28a934b68a0475650499b9ae509',
 'f4ff31c676834c31a24648df290aa349',
 'be7815756efd025355c3e09139c3f2ac',
 '181b31b11ea16a87d5acab5a78320b93',
 '9d1893083966b9c51109f0dc6ab0b0d9',
 '9f9a7e97e09d403a01120dc5f4ebf36b',
 '6e6760cb4ddc324d319cf599ce8a8b89',
 'a8f944abeac7d4fc5f2663bd8f22f931',
 '24543438ec09114a42a153f76ae693f2',
 'fc276546b539ea9ad62827c2a5e2ae42',
 '95b6e8160fbea38f306a26e66a6465a3',
 '416753943bbda356a28be0f3ba476632',
 '963de692a94b199318977a5f0819636b',
 '2bf5f3d61f1d45798de07f4edf31dbb5',
 '4efd402dce639aa129a7f15b17cc898b',
 '0333795efd58e3c33c5850b92721c3e4',
 '6811d911869c98aed7eadc3478bebe72',
 '77b61edc47d5dda4e6fb3568962d3e63',
 '525d023cea7235fd59133983cc5269bf',
 '8d26562bc0e89c3e3b83c1ab369534a4',
 '48fb8c1ee3265ce23502eaba1bd413df',
 '0797e47ffb3917b66fa62245a283bd9e',
 'd83de24a6ee5b9754bdb4df748e529af',
 '09ec9df2cf3708ca52a4a6cb64e464f6',
 'b3a397db9c6b4ddfed9d46f6fa03c65e',
 '0011c512eb256aa0dbbb544d8dffcf6e',
 '5ddab10d5e0a23acb99acf56b62b3276',
 '442484911e00b4bff85ece3e10c1dc1f',
 '46d9734c42793de762a7ca5db95ecdd1',
 '12ad279319eff927d9333b42f3382ff8',
 'da37b504ecf6099b4f8af452ebdab0cc',
 '54971206521793b44053a9c348d148c2',
 '5b7e1c33e4e9e477847a8a031353ff40',
 '9373355c0da0bbda1d469b3504731ccb',
 '2abf28861922ed5da75726c7f3eb58f4',
 '24aba57735be13fd785bc04d1a8812e4',
 '4ad4cf9cb1cce9af79caf2426fd9ab93',
 'fb927c44d15e24c578f85a862576fd88',
 '33e79119cfaa0e1f7122bf00b10426bc',
 '9ef6c728ed471353c6f06bf8013882c5',
 '1395c0f64373a0771d89b9f16f185dc6',
 'e65ab426efaf65e083b917d2e9eac80d',
 'ae23e5838bdd9b5fa518342c066b8290',
 '5a6849f9db912b68be72145d959d61d2',
 'e0cd006cb0ccbbf5e501be0df7c1e5f4',
 'f3d1c2c26a2b8f3398af192dfdef56be',
 '512bcb8dec32fae04f4e4f0b407e8e74',
 '4f687412e6805c3cfc9e0c5ec2f841e0',
 'a7b883ad302f6f168540e7d46a245450',
 'e273c62ea30d5ca1753739e6d25d15a1',
 '473ecd4c15ecda05e4044ef14f1f4c2e',
 '5caaa02918381c4ad59d38fdcd4a28b9',
 'fce345e86ad30c0a8de7f92f71ecb4cc',
 'd27144c40fa89d288b74adfd0e20db91',
 '6c1d133db7e26f35b03876c7f4c0177b',
 'eb9a3adbcce4a03f2ea0394ec01a58ad',
 'a9eea144b709e6d670c9bf03ffc2dc2e',
 'f6bd09259655a78e706a0caa947299db',
 'b0edba4fd6456eab5a6b6201caf7b323',
 'dbf4588317c84ec9cde32b033de522e4',
 'b5d652cabeb01249ad1cf910eef3230b',
 '8213da1c8eae3aa3fa5c70d87fc1581c',
 '348ea09800ea8b415f488cef882bb755',
 'aa0568a1b7093748a1922993f5817983',
 '9d240cb98df035e3ef147117b92aa0e7',
 '271a16e4751b04867238b601ad652692',
 '4ba2ecadbc22416fc5eab3097203922c',
 '8f73613d06e3a557da0249015cbae6b6',
 '4374f5c6e8ab35133a8dbc5517ec0388',
 'f216457c32ee07732482741ca33128c6',
 '3c95f0e78d88cdfb8af7f72dd586a4a0',
 '1a2df11a11c62daea6c15fbd3ccf2917',
 'bbdf7b7e937d9526d3acd9854d7e939b',
 '6269367991dd832f09999605131f2c54',
 '66e08854f9319c6aa4874ca435598331',
 '050d890ccc1c0874e166c9af9c6dd821',
 'a214ec4881cfa50f718046bdc15c6a22',
 'ffbc83054b3741a8d67fc59d9cf9d42d',
 'c261f239575a146a38e4d4c72b58f403',
 'daf84c8f6a77308759733b317cf20666',
 '1fdac0720456c9b74b0a93aeb821d5a2',
 '2fa0dd76935b81bb4fe9cc959138758d',
 '4dfb5b21cf54e026b36472ea52d67e6d',
 '9f683084a0b0211109fef6e538cb4767',
 '156dc15f380f2c6fa999b386a90a8524',
 '8df1a3abe96355f4a037a5345cc8594a',
 '28d7da9ebe96bfda54aed060b68b23a1',
 '268dea74d2aec39c04aecdf03081ac60',
 '507914b4af243e0589c389ac50545ef6',
 'd4de08feff9533e02efa79613935336e',
 '54f52360a2b571e7d7b54225b74bbccd',
 'bf5cd6b613d9b11ecd53a9410e7c1f11',
 'e518b28b071fde92b9d68d1ad51dcdb5',
 '3dc95ebe4e59153d4655472acb2c0785',
 '9668ae227893ed924319574e98f60c7d',
 '5dae498eff2d80057f56122235a36aff',
 '389c2351d11b4f543c93ceb7e966315d',
 '537308c83230d0d9e9d2bd41978291e1',
 '87838c210d9c925acac2619548950502',
 '981cff5accf28a980a7de3bca3ba9b95',
 '4c41f7f8ca78f88fa539d43d08c504d3',
 '46ae1c0789fb281be43fdb50797c9f2e',
 'f97194491a605b1d0e50d631e443cb5a',
 '61fd556e5319f0e1dfed3ecb8d3bb778',
 '1018789226ee7a23b5fd719413e80cb0',
 'ab63f62c916db9ba192225d361b6ec44',
 '773a9c97b7435492ec93014cd43ecf77',
 '8e3e3059aabb0c13679db43619590ad5',
 '6309ecb18b264afd138380fe238589f7',
 'b625929cf412ff2c73f64485b23a5202',
 '26db948671a4ad63637c2d2065477f00',
 'c686d4fd1e845efd1b98db8220f0af3b',
 '1df5ecdbd7a222e8e37cc6aec3fccbb7',
 '446607005fbc439a9439caed96867e26',
 'ac1ad58efc1ebf66bfadc09f29bdedc0',
 '65400edfb5c91587f723f62138cbc40a',
 'cdbcde669141ea6af7193857333db4ff',
 '3348355c60a53ca51a5bb5a4b63e77a6',
 'd25bbb182b51d1594fe3b54a27ae143e',
 '6760d30ebea15ef6773a57346f9990ca',
 '93c285dad77a797cf2193ead6afbe107',
 'c41eca01a8bceb6c987b2a935a5ad1cb',
 '36e76b21975cb010ce431815283898dc',
 'cebad0ed16ecd450b97d2be843d3da86',
 'e79cd83f9050b980118e3e3a5930b577',
 'a57878a3c4874b342d09d163ae63e596',
 'df4bcf4a328103951507064660c445e9',
 '0afbecb15d10af6e2c8e3a682becb22c',
 'd399dfc93e30e60fce539861202763af',
 'd0c54febdabb86e59080ec565c461d1e',

In [189]:
# Let's look why we have products_id in df products we don't have in df data

diff = set(list(products['product_id'].unique())) - set(list(data['product_id'].unique()))
products[products['product_id'].isin(diff)]

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
105,a41e356c76fab66334f36de622ecbd3a,NaN,NaN,NaN,NaN,650.0,17.0,14.0,12.0
145,56139431d72cd51f19eb9f7dae4d1617,NaN,NaN,NaN,NaN,200.0,20.0,20.0,20.0
195,55610b8b7d48294e69fc23f513dfbe98,furniture_decor,60.0,1068.0,3.0,400.0,16.0,20.0,16.0
208,04869307f7e7dc5b07f1d83406ade1e5,toys,58.0,443.0,2.0,3305.0,38.0,36.0,19.0
248,93c285dad77a797cf2193ead6afbe107,housewares,53.0,524.0,1.0,1800.0,25.0,7.0,20.0
...,...,...,...,...,...,...,...,...,...
32816,ff415a8a6bfbaf8244f4ee0c7c30d905,toys,26.0,175.0,1.0,1500.0,54.0,16.0,12.0
32828,8ffc89162cccaef5a98a4c0bcd241a0e,furniture_decor,56.0,474.0,2.0,500.0,80.0,10.0,60.0
32852,c4ceee876c82b8328e9c293fa0e1989b,NaN,NaN,NaN,NaN,700.0,28.0,3.0,43.0
32857,0ac0d30f666402b0d004e26c5e57eb0f,musical_instruments,57.0,732.0,9.0,14050.0,50.0,32.0,46.0
32910,65bb78cf0bbc3ca6406f30e6793736f9,furniture_decor,56.0,296.0,3.0,2000.0,100.0,7.0,12.0

In [190]:
# We will assume we have 1070 products in Olist website that have never been ordered
# To avoid creating useless rows during the merge with these products, we will perform a left merge
data = pd.merge(data, products, on=['product_id'], how='left')
data.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_geolocation_lat,customer_geolocation_lng,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,product_id,seller_id,shipping_limit_date,price,freight_value,order_nb_items,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,nb_payments,prefered_payment_type,mean_payment_installments,total_payment_value,mean_payment_value,max_payment_value,min_payment_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.498489,-47.396929,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,1.0,88b8b52d46df026a9d1ad2136a59b30b,4.0,NaN,NaN,2017-05-26 00:00:00,2017-05-30 22:34:40,1.0,credit_card,2.0,146.87,146.87,146.87,146.87,office_furniture,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,-23.727992,-46.542848,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48,1.0,02fc48a9efa3e3d0f1a8ea26507eeec3,5.0,NaN,NaN,2018-01-30 00:00:00,2018-02-10 22:43:29,1.0,credit_card,8.0,335.48,335.48,335.48,335.48,housewares,43.0,1002.0,3.0,10150.0,89.0,15.0,40.0
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,-23.531642,-46.656289,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79,1.0,5ad6695d76ee186dc473c42706984d87,5.0,NaN,NaN,2018-06-15 00:00:00,2018-06-15 12:10:59,1.0,credit_card,7.0,157.73,157.73,157.73,157.73,office_furniture,55.0,955.0,1.0,8267.0,52.0,52.0,17.0
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,-23.499702,-46.185233,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36,1.0,059a801bb31f6aab2266e672cab87bc5,5.0,NaN,NaN,2018-03-29 00:00:00,2018-04-02 18:36:47,1.0,credit_card,1.0,173.30,173.30,173.30,173.30,office_furniture,48.0,1066.0,1.0,12160.0,56.0,51.0,28.0
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-22.975100,-47.142925,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25,1.0,8490879d58d6c5d7773f2739a03f089a,5.0,a melhor nota,O baratheon è esxelente Amo adoro o baratheon,2018-08-10 00:00:00,2018-08-17 01:59:52,1.0,credit_card,8.0,252.25,252.25,252.25,252.25,home_confort,61.0,407.0,1.0,5200.0,45.0,15.0,35.0

In [191]:
data[data.columns[data.isnull().any()]].isna().sum()

customer_geolocation_lat           278
customer_geolocation_lng           278
order_approved_at                  160
order_delivered_carrier_date      1783
order_delivered_customer_date     2965
product_id                         775
seller_id                          775
shipping_limit_date                775
price                              775
freight_value                      775
order_nb_items                     775
review_id                         1285
review_score                      1285
review_comment_title             87932
review_comment_message           58861
review_creation_date              1285
review_answer_timestamp           1285
nb_payments                          1
prefered_payment_type                1
mean_payment_installments            1
total_payment_value                  1
mean_payment_value                   1
max_payment_value                    1
min_payment_value                    1
product_category_name             2191
product_name_lenght               2191
product_description_lenght        2191
product_photos_qty                2191
product_weight_g                   791
product_length_cm                  791
product_height_cm                  791
product_width_cm                   791
dtype: int64

In [192]:
data.shape

(99441, 41)

## VII - Data and sellers <a class="anchor" id="8-bullet"></a>

In [86]:
sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [87]:
sellers.shape

(3095, 4)

### a. Adding latitude and longitude with geolocation

In [88]:
# Looking if every zip code is in simplified_geolocation
set(list(sellers['seller_zip_code_prefix'].unique())) - set(simplified_geolocation['geolocation_zip_code_prefix'].unique())

{2285, 7412, 37708, 71551, 72580, 82040, 91901}

In [89]:
lat_list = []
long_list = []

for zip_code in sellers['seller_zip_code_prefix']:
    
    if zip_code in simplified_geolocation['geolocation_zip_code_prefix'].unique():
        
        latitude = simplified_geolocation[simplified_geolocation['geolocation_zip_code_prefix'] == zip_code]['geolocation_lat'].values[0]
        lat_list.append(latitude)
        
        longitude = simplified_geolocation[simplified_geolocation['geolocation_zip_code_prefix'] == zip_code]['geolocation_lng'].values[0]
        long_list.append(longitude)
    
    else: # For our few values not in simplified_geolocation, we don't have coordinates
        lat_list.append(np.nan)
        long_list.append(np.nan)

In [90]:
# Checking lenght = sellers # rows
print(len(lat_list))
print(len(long_list))

3095
3095

In [91]:
# We can add these coordinates to our sellers df

sellers['seller_geolocation_lat'] = lat_list
sellers['seller_geolocation_lng'] = long_list

### b. Merging dataframes

In [92]:
# Looking differences between data and sellers df for seller_id

set(list(data['seller_id'].unique())) - set(sellers['seller_id'].unique())

set()

In [194]:
# And the other way round
set(sellers['seller_id'].unique()) - set(list(data['seller_id'].unique()))

{'0336182e1b3e92f029d5354832045fdf',
 '0b09101900100c0e9d312861fad5a1b9',
 '1fa2d3def6adfa70e58c276bb64fe5bb',
 '204b4e07bddef3c9b317f70189135b22',
 '5415337f1863452476d42d9f14a16a61',
 '9315e491484b1b0081ca166fc164108d',
 'c240c4061717ac1806ae6ee72be3533b'}

In [195]:
# Let's look why we have products_id in df products we don't have in df data

diff = set(sellers['seller_id'].unique()) - set(list(data['seller_id'].unique()))
sellers[sellers['seller_id'].isin(diff)]

,seller_id,seller_zip_code_prefix,seller_city,seller_state
5,c240c4061717ac1806ae6ee72be3533b,20920,rio de janeiro,RJ
684,0336182e1b3e92f029d5354832045fdf,14940,ibitinga,SP
1735,204b4e07bddef3c9b317f70189135b22,37564,borda da mata,MG
1932,9315e491484b1b0081ca166fc164108d,86039,londrina,PR
2098,1fa2d3def6adfa70e58c276bb64fe5bb,4106,sao paulo,SP
2843,0b09101900100c0e9d312861fad5a1b9,3168,sao paulo,SP
2978,5415337f1863452476d42d9f14a16a61,30840,belo horizonte,MG

In [196]:
# As for products, we can assume we have sellers registred in Olist website that have never sold a product yet 
# To avoid creating useless rows during the merge with these sellers, we will perform a left merge

data = pd.merge(data, sellers, on=['seller_id'], how='left')
data.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_geolocation_lat,customer_geolocation_lng,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,product_id,seller_id,shipping_limit_date,price,freight_value,order_nb_items,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,nb_payments,prefered_payment_type,mean_payment_installments,total_payment_value,mean_payment_value,max_payment_value,min_payment_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.498489,-47.396929,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,1.0,88b8b52d46df026a9d1ad2136a59b30b,4.0,NaN,NaN,2017-05-26 00:00:00,2017-05-30 22:34:40,1.0,credit_card,2.0,146.87,146.87,146.87,146.87,office_furniture,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577.0,itaquaquecetuba,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,-23.727992,-46.542848,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-01-18 20:58:32,289.00,46.48,1.0,02fc48a9efa3e3d0f1a8ea26507eeec3,5.0,NaN,NaN,2018-01-30 00:00:00,2018-02-10 22:43:29,1.0,credit_card,8.0,335.48,335.48,335.48,335.48,housewares,43.0,1002.0,3.0,10150.0,89.0,15.0,40.0,88303.0,itajai,SC
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,-23.531642,-46.656289,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,2018-06-05 16:19:10,139.94,17.79,1.0,5ad6695d76ee186dc473c42706984d87,5.0,NaN,NaN,2018-06-15 00:00:00,2018-06-15 12:10:59,1.0,credit_card,7.0,157.73,157.73,157.73,157.73,office_furniture,55.0,955.0,1.0,8267.0,52.0,52.0,17.0,8577.0,itaquaquecetuba,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,-23.499702,-46.185233,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,2018-03-27 16:31:16,149.94,23.36,1.0,059a801bb31f6aab2266e672cab87bc5,5.0,NaN,NaN,2018-03-29 00:00:00,2018-04-02 18:36:47,1.0,credit_card,1.0,173.30,173.30,173.30,173.30,office_furniture,48.0,1066.0,1.0,12160.0,56.0,51.0,28.0,8577.0,itaquaquecetuba,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,-22.975100,-47.142925,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00,9391a573abe00141c56e38d84d7d5b3b,4a3ca9315b744ce9f8e9374361493884,2018-07-31 10:10:09,230.00,22.25,1.0,8490879d58d6c5d7773f2739a03f089a,5.0,a melhor nota,O baratheon è esxelente Amo adoro o baratheon,2018-08-10 00:00:00,2018-08-17 01:59:52,1.0,credit_card,8.0,252.25,252.25,252.25,252.25,home_confort,61.0,407.0,1.0,5200.0,45.0,15.0,35.0,14940.0,ibitinga,SP

In [197]:
data[data.columns[data.isnull().any()]].isna().sum()

customer_geolocation_lat           278
customer_geolocation_lng           278
order_approved_at                  160
order_delivered_carrier_date      1783
order_delivered_customer_date     2965
product_id                         775
seller_id                          775
shipping_limit_date                775
price                              775
freight_value                      775
order_nb_items                     775
review_id                         1285
review_score                      1285
review_comment_title             87932
review_comment_message           58861
review_creation_date              1285
review_answer_timestamp           1285
nb_payments                          1
prefered_payment_type                1
mean_payment_installments            1
total_payment_value                  1
mean_payment_value                   1
max_payment_value                    1
min_payment_value                    1
product_category_name             2191
product_name_lenght               2191
product_description_lenght        2191
product_photos_qty                2191
product_weight_g                   791
product_length_cm                  791
product_height_cm                  791
product_width_cm                   791
seller_zip_code_prefix             775
seller_city                        775
seller_state                       775
dtype: int64

In [198]:
data.shape

(99441, 44)

# 2. Cleaning <a class="anchor" id="9-bullet"></a>

In [96]:
data.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_geolocation_lat,customer_geolocation_lng,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,product_id,seller_id,shipping_limit_date,price,freight_value,order_nb_items,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,nb_payments,prefered_payment_type,mean_payment_installments,total_payment_value,mean_payment_value,max_payment_value,min_payment_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state,seller_geolocation_lat,seller_geolocation_lng
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,-20.498489,-47.396929,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 15:22:12,124.99,21.88,1.0,88b8b52d46df026a9d1ad2136a59b30b,4.0,NaN,NaN,2017-05-26 00:00:00,2017-05-30 22:34:40,1.0,credit_card,2.0,146.87,146.87,146.87,146.87,office_furniture,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,-23.486111,-46.366721
1,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,68030,santarem,PA,-2.442208,-54.723443,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,2017-11-10 00:47:48,2017-11-22 01:43:37,2017-11-28 00:09:50,2017-12-19 00:00:00,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-11-23 00:47:18,112.99,24.90,2.0,7fc63200f12eebb5f387856afdd63db8,1.0,NaN,"GOSTARIA DE UMA SOLUÇÃO, ESTOU PRECISANDO MUIT...",2017-11-29 00:00:00,2017-12-01 19:41:59,1.0,credit_card,1.0,275.79,275.79,275.79,275.79,office_furniture,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,-23.486111,-46.366721
2,f0ac8e5a239118859b1734e1087cbb1f,3c799d181c34d51f6d44bbbc563024db,92480,nova santa rita,RS,-29.860873,-51.272835,b1a5d5365d330d10485e0203d54ab9e8,delivered,2017-05-07 20:11:26,2017-05-08 22:22:56,2017-05-19 20:16:31,2017-05-26 09:54:04,2017-06-12 00:00:00,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-05-22 22:22:56,124.99,15.62,1.0,251191809e37c1cffc16865947c18a4d,3.0,NaN,"Produto compatível com seu valor, muito bonito...",2017-05-27 00:00:00,2017-05-28 02:43:16,1.0,credit_card,7.0,140.61,140.61,140.61,140.61,office_furniture,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,-23.486111,-46.366721
3,6bc8d08963a135220ed6c6d098831f84,23397e992b09769faf5e66f9e171a241,25931,mage,RJ,-22.615268,-43.171212,2e604b3614664aa66867856dba7e61b7,delivered,2018-02-03 19:45:40,2018-02-04 22:29:19,2018-02-19 18:21:47,2018-02-28 21:09:00,2018-03-22 00:00:00,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2018-02-18 21:29:19,106.99,30.59,1.0,f7123bac5b91a0e2e38d8b41fd1206f4,4.0,NaN,Entregou antes do prazo,2018-03-01 00:00:00,2018-03-02 11:11:24,1.0,credit_card,10.0,137.58,137.58,137.58,137.58,office_furniture,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,-23.486111,-46.366721
4,fd3a0b1bd209f0e7d420c9c3d1127613,567ab47ca4deb92d46dbf54dce07d0a7,88460,angelina,SC,-27.582060,-48.984387,574fe1739f65af76badd0999db300b4f,delivered,2017-03-23 15:10:17,2017-03-23 15:25:11,2017-03-28 18:23:51,2017-04-11 10:16:56,2017-04-24 00:00:00,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,2017-04-05 15:25:11,126.99,15.06,1.0,1496c2a9c41a846ba946a98a09879660,4.0,NaN,NaN,2017-04-12 00:00:00,2017-04-15 15:34:45,1.0,credit_card,5.0,142.05,142.05,142.05,142.05,office_furniture,41.0,1141.0,1.0,8683.0,54.0,64.0,31.0,8577,itaquaquecetuba,SP,-23.486111,-46.366721

In [97]:
len(data['customer_unique_id'].unique())

95420

In [98]:
len(customers['customer_unique_id'].unique())

96096

## I - Types <a class="anchor" id="10-bullet"></a>

In [99]:
data.dtypes

customer_id                       object
customer_unique_id                object
customer_zip_code_prefix           int64
customer_city                     object
customer_state                    object
customer_geolocation_lat         float64
customer_geolocation_lng         float64
order_id                          object
order_status                      object
order_purchase_timestamp          object
order_approved_at                 object
order_delivered_carrier_date      object
order_delivered_customer_date     object
order_estimated_delivery_date     object
product_id                        object
seller_id                         object
shipping_limit_date               object
price                            float64
freight_value                    float64
order_nb_items                   float64
review_id                         object
review_score                     float64
review_comment_title              object
review_comment_message            object
review_creation_date              object
review_answer_timestamp           object
nb_payments                      float64
prefered_payment_type             object
mean_payment_installments        float64
total_payment_value              float64
mean_payment_value               float64
max_payment_value                float64
min_payment_value                float64
product_category_name             object
product_name_lenght              float64
product_description_lenght       float64
product_photos_qty               float64
product_weight_g                 float64
product_length_cm                float64
product_height_cm                float64
product_width_cm                 float64
seller_zip_code_prefix             int64
seller_city                       object
seller_state                      object
seller_geolocation_lat           float64
seller_geolocation_lng           float64
dtype: object

In [100]:
# We can see several time variables are stored as objects, let's modify this

time_var = ['order_purchase_timestamp', 'order_delivered_carrier_date', 
            'order_delivered_customer_date','order_estimated_delivery_date', 
            'shipping_limit_date', 'review_creation_date', 'review_answer_timestamp']

for var in time_var:
    data[var] = pd.to_datetime(data[var], infer_datetime_format=True, errors='raise')

In [101]:
# Checking cenversion worked
data[var].dtypes

dtype('<M8[ns]')

## II - Outliers <a class="anchor" id="11-bullet"></a>

### a. Numerical

In [102]:
data.describe()

,customer_zip_code_prefix,customer_geolocation_lat,customer_geolocation_lng,price,freight_value,order_nb_items,review_score,nb_payments,mean_payment_installments,total_payment_value,mean_payment_value,max_payment_value,min_payment_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_geolocation_lat,seller_geolocation_lng
count,98666.000000,98392.000000,98392.000000,98666.000000,98666.000000,98666.000000,97431.000000,98665.000000,98665.000000,98665.000000,98665.000000,98665.000000,98665.000000,97250.000000,97250.000000,97250.000000,98650.000000,98650.000000,98650.000000,98650.000000,98666.000000,98448.000000,98448.000000
mean,35156.971834,-21.187896,-46.172921,125.964327,20.201927,1.141731,4.106783,1.045305,2.916083,160.606904,157.949469,159.093160,156.848191,48.846386,794.161398,2.250591,2102.617587,30.106863,16.488028,23.025778,24614.381023,-22.793764,-47.220540
std,29798.762988,5.612514,4.057732,191.375106,15.909873,0.538452,1.329904,0.380272,2.699574,220.484252,217.740682,218.898589,217.590611,9.999239,654.751953,1.747095,3765.684321,16.129250,13.325707,11.742574,27695.231253,2.750130,2.350240
min,1003.000000,-33.689948,-72.668881,0.850000,0.000000,1.000000,1.000000,1.000000,0.000000,9.590000,1.737500,4.070000,0.000000,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000,1001.000000,-32.079231,-67.813284
25%,11360.000000,-23.589279,-48.104959,41.505000,13.310000,1.000000,4.000000,1.000000,1.000000,62.000000,60.100000,61.050000,59.000000,42.000000,349.000000,1.000000,300.000000,18.000000,8.000000,15.000000,6429.000000,-23.612734,-48.784496
50%,24425.000000,-22.924263,-46.630397,79.000000,16.360000,1.000000,5.000000,1.000000,2.000000,105.290000,103.320000,104.120000,102.690000,52.000000,607.000000,2.000000,700.000000,25.000000,13.000000,20.000000,13561.000000,-23.425556,-46.743468
75%,58991.250000,-20.138476,-43.594457,139.900000,21.230000,1.000000,5.000000,1.000000,4.000000,176.880000,174.960000,175.770000,174.330000,57.000000,996.000000,3.000000,1800.000000,38.000000,20.000000,30.000000,29156.000000,-21.757321,-46.518679
max,99990.000000,42.184003,-8.723762,6735.000000,409.680000,21.000000,5.000000,29.000000,24.000000,13664.080000,13664.080000,13664.080000,13664.080000,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000,99730.000000,-2.501242,-34.855616

First look on values :
- Zip codes brazil : must be between 01001 and 99990 --> OK
- Latitude : must be between -90 and 90 (provided customers aren't only in Brazil) --> OK, some customers probably not in Brazil
- Longitude : must be between -180 and 180 (provided customers aren't only in Brazil) --> OK
- order_item_id : must be positive --> OK, but atypical values
- price : must be positive --> OK, but atypical values
- freight_value : must be positive --> OK, but atypical values
- payment_sequential : must be >= 1 --> OK, but atypical values
- payment_installments : must be >= 1 --> NOK, some 0
- payment_value : must be positive --> OK, but atypical values. Check to make : payment = price + freight
- product variables : must be positive --> OK, but atypical values

In [103]:
# Check for payment values

data['payment_check'] = abs((data['price'] + data['freight_value']) - data['payment_value'])
data['payment_check'].describe()

KeyError: 'payment_value'

In [ ]:
# The difference could be explained by several payments for the same order, we will then group

grouped_df = data.groupby(by='customer_id')[['price', 'freight_value', 'payment_value']].sum()
grouped_df.head()

In [ ]:
grouped_df['payment_check'] = abs((grouped_df['price'] + grouped_df['freight_value']) - grouped_df['payment_value'])
grouped_df['payment_check'].describe()

We still have several values over 0, what does it mean ?

In [ ]:
# Looking distributions

numerical_var = list(data.select_dtypes('float').columns)

for var in numerical_var:
    plt.figure()
    plt.hist(data[var], density=True, bins=50, color='#001E46', edgecolor='none')
    plt.title(var)
    plt.show()

### b. Dates

In [ ]:
date_columns = list(data.select_dtypes('datetime64').columns)

In [ ]:
for col in date_columns:
    print("Variable : {}".format(col))
    print("Min : {}".format(data[col].min()))
    print("Max : {}".format(data[col].max()))
    print("Mean : {}".format(data[col].mean()))
    print("Median : {}".format(data[col].median()))
    print("----------------------------------------------")

In [ ]:
# Dates should be between 2016 and 2018, for the variable shipping_limit_date we have values above 2018. Let's check it

data[data['shipping_limit_date'] > pd._libs.tslibs.timestamps.Timestamp('2018-12-31 23:59:59')]

All values are from the same seller. The limit date is surprising but possible (the seller gave on purpose a date far to respect it ?)

### c. Categorical

In [ ]:
categ_var = ['customer_city', 'customer_state', 
             'order_status', 'payment_type', 
             'product_category_name', 'seller_city', 
             'seller_state']

In [ ]:
for var in categ_var:
    print("Variable : {}".format(var))
    print(data[var].unique())
    print("----------------------------------------------")

In [ ]:
# For city variables we can't check manually given the number of occurences
# but we can normalize text to ensure we don't have the same city written in different ways

print('Without normalization')
print('Occurences of customer_city : {}'.format(len(data['customer_city'].unique())))
print('Occurences of seller_city : {}'.format(len(data['seller_city'].unique())))
print('---------------------------------------------')
print('With normalization')
print('Occurences of customer_city : {}'.format(len(data['customer_city'].str.strip().str.lower().unique())))
print('Occurences of seller_city : {}'.format(len(data['seller_city'].str.strip().str.lower().unique())))

It doesn't change anything

For other variables, it seems coherent

## III - Missing values <a class="anchor" id="12-bullet"></a>

In [ ]:
data[data.columns[data.isnull().any()]].isna().sum()

We can fix :
- location looking to correspondings zip codes manually
- for reviews, creation of 'not applicable'
- for orders dates, creation of 'not applicable'
- payment, only very few missing values

We probably can't fix (except maybe later with imputation) :
- missing times informations
- missing products informations
- other sellers missing informations

### a. Reviews

In [ ]:
# When we have a NaN value for reviews variables, we can assume it means the customer didn't make a review. 
# We will replace NaN by 'Not applicable'

review_var = ['review_id', 'review_score', 
              'review_comment_title', 'review_comment_message', 
              'review_creation_date', 'review_answer_timestamp']

for var in review_var:
    data.loc[data[var].isna(), var] = 'Not applicable'

In [ ]:
data[data.columns[data.isnull().any()]].isna().sum()

### b. Payment

In [ ]:
# Looking missing values
data[data['payment_sequential'].isna()]

In [ ]:
# Given the few missing values, we can drop these rows (which are all about the same order)
data.dropna(subset=['payment_sequential'], inplace=True)

In [ ]:
data[data.columns[data.isnull().any()]].isna().sum()

### c. Orders

We have missing values for order_delivered_customer_date and order_delivered_carrier_date. This could be because the order hasn't been delivered, let's check

In [ ]:
# We create 2 dfs with missing values for simplification of next steps
missing_order_delivered_carrier_date = data[data['order_delivered_carrier_date'].isna()]
missing_order_delivered_customer_date = data[data['order_delivered_customer_date'].isna()]

# Looking status for missing values
print(missing_order_delivered_carrier_date['order_status'].unique())
print('')
print(missing_order_delivered_customer_date['order_status'].unique())

In [ ]:
# For order_delivered_carrier_date and we can assume it make sense we have NaN values if the order isn't delivered
# Let's check if we have delivered orders without values

missing_order_delivered_carrier_date[missing_order_delivered_carrier_date['order_status'] == 'delivered']

In [ ]:
# We have only 2 rows, we will delete them

index_list = missing_order_delivered_carrier_date[missing_order_delivered_carrier_date['order_status'] == 'delivered'].index

data.drop(index_list, inplace=True)

In [ ]:
# For other values, we will create 'Not applicable'

data.loc[data['order_delivered_carrier_date'].isna(), 'order_delivered_carrier_date'] = 'Not applicable'

In [ ]:
# Same check for order_delivered_customer_date

missing_order_delivered_customer_date[missing_order_delivered_customer_date['order_status'] == 'delivered']

In [ ]:
# Delete rows and replace others by 'Not applicable'

index_list = list(missing_order_delivered_customer_date[missing_order_delivered_customer_date['order_status'] == 'delivered'].index)
index_list.remove(117334) # Already deleted above

data.drop(index_list, inplace=True)

data.loc[data['order_delivered_customer_date'].isna(), 'order_delivered_customer_date'] = 'Not applicable'

### --> Voir si possible de remplacer les dates par l'estimé mais ça ne semble pas fonctionner avec les NaT (ça serait plus clean)

In [ ]:
data[data.columns[data.isnull().any()]].isna().sum()

Remaining NaN are actual missing values so we can't manually treat them, we will impute or delete them later for our machine learning algorithm

# 3. Transformation of dataframe <a class="anchor" id="13-bullet"></a>

In [ ]:
data.head()

In [ ]:
data[data.duplicated(subset='customer_id')].sort_values(by='customer_id')

# Notes

The objective would be to extract informations for unique customers (with customer_unique_id) with this dataframe, a lot a feature engineering will be necessary. Some ideas for now :
- Number of orders
- Time for approval of order (diff with purchase time)
- Time for delivery (carrier / customer) of order (diff with purchase time)
- Time for estimated delivery (diff with purchase time)
- Difference estimated / real time of delivery
- Average number of items per order
- Number of orders with the same seller
- Orders with shipping limit overdue
- Average price of orders
- Average freight_value of orders
- % of reviews (creation of var review if review_score not NaN / number of orders)
- Average review score given
- % of comments on review
- Average number of payment_sequential
- Average time of review (diff with delivery time)
- Favorite payment_type
- Average number of payment_installments
- Average payment_value (same as price + freight value ?)
- Favorite product_category_name

Interest of dimensions of objects ?
Interest of location of seller ?

Should look too if a customer changed location, creation of a var moving ?